
#title {
  text-align: center;
  padding: 20px 100px;
}

/* Styling for the table */
table {
  width: 80%;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  table-layout: fixed;
}

th {
  background-color: #55b9f3;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
}

td {
  word-wrap:break-word;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  height: 90px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.table-responsive {
  margin-right: 5%;
  margin-left: 5%;
}

.image-container {
  border: 2px dashed #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 10px;
}

td .dropzone {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.image-container.dropzone * {
  width: 90px;
  max-height: 130px;
}

.image-container.dropzone img {
  display: block;
}

.imagebox {
  position: relative;
  display:  inline-block;
  margin: 5px;
    vertical-align: top;
}

.imagebox img {
  max-width: 100%;
}

.imagebox:hover p {
  visibility: visible;
}

#player-images {
  margin: 2%;
  margin-bottom: 1%;
}

.player-image {
  border: 5px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: block;
}

.player-image:hover {
  transform: scale(1.1);
}

.table tr td .player-image{
  height: 100px;
}

.overlay_text {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 50% auto;
  background-color: blue;
  color: white;
  visibility: hidden;
  text-align: center; /* center the text horizontally */
  display: flex; /* enable vertical centering */
  justify-content: center; /* center the text vertically */
  align-items: center; /* center the text vertically */
}

/* cta button */
#cta {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 40px 70px;
}
/* footer */
#footer {
  text-align: center;
  background-color: #212529;
  color: #fff;
  padding: 15px;
}

#footer p {
  margin: 0;
}

.line-text {
  font-family: 'Arial';
  text-align: center;
  width: 100%;
  margin: 0px auto;
  font-size: 80px;
  letter-spacing: 5px;
}

#myChart {
   margin-left:100px;
     max-width: 2600px;
    height: 1000px;
}
