<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Austinfu2's NBA Scoring Skill Tier List</title>
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet"/>
<link href="static/styles.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com" rel="preconnect"/>
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;9000&amp;family=Ubuntu:wght@300;400;700&amp;display=swap" rel="stylesheet"/>
<script>
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    const imagebox = ev.target.closest('.imagebox')
    ev.dataTransfer.setData("text", imagebox.id);
  }

  function drop(ev) {
    ev.preventDefault();  1
    var data = ev.dataTransfer.getData("text");
    const element = document.getElementById(data)
    const dropzone = ev.target.closest('.dropzone')
    dropzone.appendChild(element);
  }

  $(document).ready(function() {
  $('.imagebox').each(function() {
    var dataImage = $(this).attr('data-player-name');
    $(this).find('.overlay_text').text(dataImage);
  });
});

$(document).ready(function() {
  $('.submit-button').click(function(e) {
    e.preventDefault();

    // Collect the data-image and data-player-name attributes of all image boxes
    var data = [];
    $('.dropzone').each(function() {
      var dropzone_id = $(this).attr('id');
      $(this).find('.imagebox').each(function() {
        var data_image = $(this).attr('data-image');
        var data_player_name = $(this).attr('data-player-name');
        data.push({
          'dropzone_id': dropzone_id,
          'data_image': data_image,
          'data_player_name': data_player_name
        });
      });
    });

    // Send an AJAX request to a Flask route that handles the database insertion
    $.ajax({
      type: 'POST',
      url: '/results',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function(response) {
      },
      error: function(error) {
        console.log(error);
     }
    });
  });
});

</script>
</head>
<body>
<!-- Title -->
<section id="title">
<div class="row">
<div class="col-lg-12">
<h1 class="line-text">NBA Scoring Skill Tier List</h1>
</div>
</div>
</section>
<!-- Player Images -->
<section id="player-images">
<div class="image-container dropzone" id="dropzone-0" ondragover="allowDrop(event)" ondrop="drop(event)">
<div class="imagebox" data-image="bertada01" data-player-name="Dvis Bertns" draggable="true" id="p1" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)" title="MAHCUS SMART">
<img class="player-image" src="{{ url_for('static', filename='player_faces/bertada01.jpg') }}"/>
<p class="overlay_text"></p>
</div>
<div class="imagebox" data-image="huntede01" data-player-name="DeAndre Hunter" draggable="true" id="p2" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)">
<img class="player-image" src="{{ url_for('static', filename='player_faces/huntede01.jpg') }}"/>
<p class="overlay_text"></p>
</div>
<div class="imagebox" data-image="brunsja01" data-player-name="Jalen Brunson" draggable="true" id="p3" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)">
<img class="player-image" src="{{ url_for('static', filename='player_faces/brunsja01.jpg') }}"/>
<p class="overlay_text">I</p>
</div>
<div class="imagebox" data-image="knoxke01" data-player-name="Kevin Knox" draggable="true" id="p4" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)">
<img class="player-image" src="{{ url_for('static', filename='player_faces/knoxke01.jpg') }}"/>
<p class="overlay_text">I</p>
</div>
<div class="imagebox" data-image="jeromty01" data-player-name="Ty Jerome" draggable="true" id="p5" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)">
<img class="player-image" data-player-name="Greg Brown III" src="{{ url_for('static', filename='player_faces/jeromty01.jpg') }}"/>
<p class="overlay_text"></p>
</div>
<div class="imagebox" data-image="halibty01" data-player-name="Tyrese Haliburton" draggable="true" id="p6" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)">
<img class="player-image" data-player-name="Danny Green" src="{{ url_for('static', filename='player_faces/halibty01.jpg') }}"/>
<p class="overlay_text"></p>
</div>
<div class="imagebox" data-image="gordoer01" data-player-name="Eric Gordon" draggable="true" id="p7" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)">
<img class="player-image" data-player-name="Isaac Okoro" src="{{ url_for('static', filename='player_faces/gordoer01.jpg') }}"/>
<p class="overlay_text"></p>
</div>
<div class="imagebox" data-image="morrima03" data-player-name="Marcus Morris" draggable="true" id="p8" ondragover="allowDrop(event)" ondragstart="drag(event)" ondrop="drop(event)">
<img class="player-image" src="{{ url_for('static', filename='player_faces/morrima03.jpg') }}"/>
<p class="overlay_text"></p>
</div>
</div>
</section>
<!-- Tier List Table -->
<div class="table-responsive">
<table class="table table-dark">
<thead class="thead-light">
<tr>
<th scope="col" style="width:5%">Lvl</th>
<th scope="col" style="width:25%">Description</th>
<th scope="col">Players</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">7</th>
<td>The entire bag, 3 levels, every counter, creative. Tells defenders moves, looks away before scoring.</td>
<td class="dropzone" height="20" id="dropzone-7" ondragover="allowDrop(event)" ondrop="drop(event)"></td>
</tr>
<tr>
<th scope="row">6</th>
<td>Above average scorer, can drop 40 at any time</td>
<td class="dropzone" height="20" id="dropzone-6" ondragover="allowDrop(event)" ondrop="drop(event)"></td>
</tr>
<tr>
<th scope="row">5</th>
<td>Scores on all 3 levels</td>
<td class="dropzone" height="20" id="dropzone-5" ondragover="allowDrop(event)" ondrop="drop(event)"></td>
</tr>
<tr>
<th scope="row">4</th>
<td>Bucket Getter</td>
<td class="dropzone" height="20" id="dropzone-4" ondragover="allowDrop(event)" ondrop="drop(event)"></td>
</tr>
<tr>
<th scope="row">3</th>
<td>Will get to 10 points</td>
<td class="dropzone" height="20" id="dropzone-3" ondragover="allowDrop(event)" ondrop="drop(event)"></td>
</tr>
<tr>
<th scope="row">2</th>
<td>Can score</td>
<td class="dropzone" height="20" id="dropzone-2" ondragover="allowDrop(event)" ondrop="drop(event)"></td>
</tr>
<tr>
<th scope="row">1</th>
<td>Last option</td>
<td class="dropzone" height="20" id="dropzone-1" ondragover="allowDrop(event)" ondrop="drop(event)"></td>
</tr>
</tbody>
</table>
</div>
<!-- Call to Action -->
<section id="cta">
<form action="{{ url_for('results') }}" method="post">
<button class="btn btn-dark btn-lg submit-button" id="submit-button" type="submit">Submit</button>
</form>
<h3 class="cta-heading">Submit to see the players' average rankings</h3>
</section>
<!-- Footer -->
<footer id="footer">
<p>Copyright 2023</p>
</footer>
</body>
</html>
